*{margin: 0; padding: 0; user-select: none;}
.welcome{
  text-align: center;
}
.welcome h2, .welcome p{
  margin-bottom: 20px;
}
.create-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-profile button{
  width: 50%;
}
.create-profile input{
  margin-bottom: 10px;
}
.profile-thumb{
  display: none;
  height: 150px;
  width: 150px;
}
.profile-thumbnail{
  display: block;
  height: 150px;
  width: 150px;
}
.profile-header{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  grid-gap: 20px;
  text-align: center;
  height: 200px;
}
.profile-request{
  grid-column: 7/8;
}
.collection, .visit{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
.from-collection{
  width: 300px;
}